@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf');
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
  src: url('../fonts/Open_Sans/OpenSans-Italic.ttf');
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
  src: url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf');
}
